<div class="lg:w-4/12 mt-2 p-4 shadow-lg mx-auto">
    <h3 class="text-3xl text-center font-semibold">Reset Password</h3>
    <p class="mt-2">Enter your email and we'll send you instructions how to reset your password </p>
    <form [formGroup]="resetPasswordForm" class="flex flex-col">

        <div class="flex flex-col mt-4 mb-1">
            <input formControlName="password" class="p-2 border border-gray-300 rounded" type="password" placeholder="Password">
            <span
                *ngIf="password?.errors?.['required'] && (password?.dirty || password?.touched)"
                class="text-red-500"> Password is required 
            </span>
        </div>

        <div class="flex flex-col mt-4 mb-1">
            <input formControlName="confirmPassword" class="p-2 border border-gray-300 rounded" type="password" placeholder="Confirm Password">
            <span
                *ngIf="confirmPassword?.errors?.['required'] && (confirmPassword?.dirty || confirmPassword?.touched)"
                class="text-red-500"> Confirm Password is required 
            </span>
        </div>
        <div class="flex justify-between">

            <button [disabled]="resetPasswordForm.invalid" [class.disabled]="resetPasswordForm.invalid"
                (click)="resetPasswordFormSubmit()"
                class="bg-indigo-500 px-7 py-2 rounded mt-3 text-white">Submit</button>
        </div>
    </form>

</div>
