<div class="lg:w-4/12 mt-2 p-4 shadow-lg mx-auto">
  <h3 class="text-3xl text-center font-semibold">Login</h3>

  <form [formGroup]="loginForm" class="flex flex-col">

    <div class="flex flex-col mt-2 mb-1">
      <input formControlName="email" class="p-2 border border-gray-300 rounded" type="text" placeholder="E mail">
      <span
        *ngIf="loginForm.get('email')?.errors?.['required'] && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)"
        class="text-red-500"> Email is required </span>

      <span
        *ngIf="loginForm.get('email')?.errors?.['email'] && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)"
        class="text-red-500"> Email must be valid </span>
    </div>

    <div class="flex flex-col mt-2 mb-1">
      <input type="password" formControlName="password" class="p-2 border border-gray-300" placeholder="Password" />

      <!-- Show if password is required -->
      <span
        *ngIf="loginForm.get('password')?.errors?.['required'] && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)"
        class="text-red-500"> Password is required </span>

      <!-- Show if password is too short -->
      <span
        *ngIf="loginForm.get('password')?.errors?.['minlength'] && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)"
        class="text-red-500"> Password must be at least 5 characters </span>
    </div>



    <button [disabled]="loginForm.invalid" [class.disabled]="loginForm.invalid" (click)="loginFormSubmit()"
      class="bg-indigo-500 p-2 rounded mt-3 text-white">Login</button>
  </form>

  <div class="flex justify-between mt-5">
    <a class="text-indigo-500 ml-2 cursor-pointer" routerLink="/reset-password">Forget Password</a>
    <a class="text-indigo-500 ml-2 cursor-pointer" routerLink="/register">Register Here</a>
  </div>
</div>