<div class="lg:w-4/12 mt-2 p-4 shadow-lg mx-auto">
    <h3 class="text-3xl text-center font-semibold">Forget Password</h3>
    <p class="mt-2">Enter your email and we'll send you instructions how to reset your password </p>
    <form [formGroup]="forgetPasswordForm" class="flex flex-col">

        <div class="flex flex-col mt-4 mb-1">
            <input formControlName="email" class="p-2 border border-gray-300 rounded" type="text" placeholder="E mail">
            <span
                *ngIf="email?.errors?.['required'] && (email?.dirty || email?.touched)"
                class="text-red-500"> Email is required </span>

            <span
                *ngIf="email?.errors?.['email'] && (email?.dirty || email?.touched)"
                class="text-red-500"> Email must be valid </span>
        </div>
        <div class="flex justify-between">

            <button [disabled]="forgetPasswordForm.invalid" [class.disabled]="forgetPasswordForm.invalid"
                (click)="forgetPasswordFormSubmit()"
                class="bg-indigo-500 px-7 py-2 rounded mt-3 text-white">Submit</button>
            <button [disabled]="forgetPasswordForm.invalid" [class.disabled]="forgetPasswordForm.invalid"
                routerLink="/login" class="bg-gray-500 px-7 py-2 rounded mt-3 text-white">Cancel</button>
        </div>
    </form>
</div>
